.ngohome{
    
    height: 100vh;
    width: 100%;
}

.start-page{
    display: flex;
    
}

.sidebar{
    width: 24%;
}

.sidebar-2{
    width: 8%;
}
.main-page{
    height: auto;
    margin-top: 80px;
    margin-right: 12px;
    width: 100%;
 
    /* background-color: red; */
}